@model IEnumerable<BibliotecaMVC.Livro>

@{
    ViewData["Title"] = "Livro";
}

<h1>Livro</h1>
<form asp-controller="Livro" asp-action="Livro">
    <p>
        Termo: <input type="text" name="textoPesquisa" />
        <input type="submit" value="Pesquisar" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Capa</th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImagemUrl)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autora.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <!--td>
                <a asp-action="LivroDetail" asp-route-id="@item.Id">Detalhes</a>
            </td-->
        </tr>
}
    </tbody>
</table>
