@model BibliotecaMVC.Livro

@{
    ViewData["Title"] = "LivroDetail";
}

<h1>@Html.DisplayFor(model => model.Titulo)</h1>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autora.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @foreach (string genero in Model.Genero)
            {
                <p>
                    @Html.DisplayFor(model => genero)
                </p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Livro">Back to List</a>
</div>
